

<!DOCTYPE html>
<html>
    <head><title>About.... </title>
    <link rel="stylesheet" href="css/styles1.css">
      <link rel="icon" href="img/images.png">  
    <body>
       {{>header}}
        
        <div class="content">
        <img class="image1"src="img/2210a.jpg"/>
        <p style="font-style: oblique;">
         Hi Myself  is Ajay krishnan.Iam currently Praticising Node JS Course in Udemy .I have a Master Degree in Computer Applications from Amrita University .Above site is just my pratice work for learning Node Js Course .I have deployed my work using Heroku and Manage it using GitHub. I have great Interest in learning Web related Content.
        </p>
        </div>
      
        
        {{>footer}}
    </body>
</html>