

<!DOCTYPE html>
<html>
    <head><title>About.... </title>
    <link rel="stylesheet" href="css/styles1.css">
      <link rel="icon" href="img/images.png">  
    <body>
       {{>header}}
        
        <div class="content">
        <img class="image1"src="img/2210a.jpg"/>
        <p>
            Created by {{name}}
        </p>
        </div>
      
        
        {{>footer}}
    </body>
</html>