<!DOCTYPE html>

<html>
    

    <head>
   <link rel="stylesheet" href="css/styles1.css">
   <link rel="icon" href="img/images.png">
  
   <title> Weather</title>
    </head>
    <body>
        {{>header}}
       
        <div class='content'> 
         <h4 > Hello {{name}} enter a location to get forecast </h4>
       
        <form>
            <input type="text" placeholder="location"> 
            <button>Submit</button>
        </form>
        <p id=para1></p>
        <p id=para2></p>
        <p id=para3></p>
        <p id=para4></p>
        <p id=para5></p>
        <p id=para6></p>
        </div>
        {{>footer}}
    <script src="js/java.js"></script>
    </body>
</html>